html, body {
    min-height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #661B2B;
    border-radius: 0px 0px 30px 30px;
} 
    
.nav-link {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 14;
};

.navbar-brand {
    padding: 0.8rem 1.8rem;
    font-size: 12;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    display: grid;
}; 

ul {
    background-color: #7f2b3e;
}

.justify-content-end {
    border-radius: 10px;
    background-color: #7f2b3e;
    color: #fff;

}

#btn {
    padding: 0.8rem 1.8rem;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    }

    #btn:hover {
        color: gray;
        }

footer {
    padding: 0.8rem 1.8rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: absolute;
    bottom: 0;
    background-color: #414141;
    color: #FFF;
    width: 100%;
    height: 100px;    
    line-height: 100px;
}

h5 {
    text-align: left;
}

/*
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
*/

